IOCP/새 폴더/IOCP_1/.vs/IOCP_1/FileContentIndex/b17edc25-d5fd-42d6-8ae1-434bfe06ed6f.vsidx
IOCP/새 폴더/IOCP_1/.vs/IOCP_1/v17/Browse.VC.db
IOCP/새 폴더/IOCP_1/.vs/IOCP_1/v17/Browse.VC.db-shm
IOCP/새 폴더/IOCP_1/.vs/IOCP_1/v17/Browse.VC.db-wal
IOCP/새 폴더/IOCP_1/.vs/IOCP_1/v17/Browse.VC.opendb
